<div class="language-switch">
  <div class="language-switch__selectbox">
    <div class="language-switch__selectbodywrapper">
      <div class="language-switch__selectbody collapse" id="language-collapse">
        {{content}}
      </div>
    </div>
    <div class="language-switch__selectlabel" data-toggle="collapse" data-target="#language-collapse">
      {{language}} <span class="arrow"></span>
    </div>
  </div>
</div>