@mixin full-overlay($space: 0) {
  position: absolute;
  top: $space;
  left: $space;
  right: $space;
  bottom: $space;
}

@mixin circle-inverted-hover() {
  transition: background 400ms, color 300ms;
  background: $black;
  color: $white;

  &:hover {
    background: $white;
    color: $black;
  }
}

@mixin triangle-right($width, $color) {
  width: 0;
  height: 0;
  border-top: $width solid transparent;
  border-left: $width * 2 solid $color;
  border-bottom: $width solid transparent;
}

@mixin circle-shadow($color) {
  box-shadow: 0 0 40px $color;
}

@function get-spacer($index, $xy: 'y') {
  @return map-get(map-get($spacers, $index), $xy);
}

@mixin set-spacer-for-py($index) {
  padding-top: get-spacer($index);
  padding-bottom: get-spacer($index);
}

@mixin set-spacer-for-my($index) {
  margin-top: get-spacer($index);
  margin-bottom: get-spacer($index);
}
