@mixin full-overlay() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin circle-inverted-hover() {
  transition: background 400ms, color 300ms;
  background: $black;
  color: $white;
  &:hover {
   background: $white;
   color: $black;
  }
}