.rental-info {
  @extend .m-md-6;
  $offset-y: -25px;
  $offset-x: -10px;
  text-align: center;

  &__row {
    @extend .row;
  }

  &__col {
    @extend .col-10;
    @extend .col-md-8;
    @extend .offset-1;
    @extend .offset-md-2;
  }

  &__title {
    @extend .mb-5;
  }

  &__brands {
    @extend .mb-5;

    img:not(:last-child) {
      @extend .mr-2;
    }
  }

  .progress {
    position: relative;
    overflow: visible;

    &::after,
    &::before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      border-radius: 50%;
    }

    &::before {
      background-color: $black;
      left: -10px;
    }

    &::after {
      background-color: $gray-lighter;
      right: -10px;
    }

    .progress-bar {
      position: relative;
      height: 5px;
      width: 0%;
    }

    &__current,
    &__end,
    &__start {
      color: $gray-lighter;
      text-transform: uppercase;
      letter-spacing: $letterspacing-narrow;
    }

    &__start {
      position: absolute;
      top: $offset-y;
      left: $offset-x;
    }

    &__end {
      position: absolute;
      top: $offset-y;
      right: $offset-x;
    }

    &__current {
      position: absolute;
      top: $offset-y * (-1);
      right: $offset-x;
      color: $black;

      &::after {
        content: '';
        display: block;
        @include triangle-up(3px, $black);
        position: absolute;
        top: $offset-x;
        right: $offset-x * (-1);
      }
    }
  }

  &__contact {
    @extend .mb-5;
    margin-top: calc(#{get-spacer(5)} + (#{$offset-y} * -1));

    .telephone,
    .email {
      @extend %contact-btn;

      &:not(:last-child) {
        @extend .mr-3;
        @extend .mb-3;
      }
    }
  }
}
