.rental-info {
  @extend .m-md-6;
  text-align: center;

  &__row {
    @extend .row;
  }

  &__col {
    @extend .col-10;
    @extend .col-md-8;
    @extend .offset-1;
    @extend .offset-md-2;
  }

  &__title {
    @extend .mb-5;
  }

  &__brands {
    @extend .mb-5;

    img:not(:last-child) {
      @extend .mr-2;
    }
  }

  .progress {
    position: relative;
    overflow: visible;

    &::after,
    &::before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      border-radius: 50%;
    }

    &::before {
      background-color: $black;
      left: -10px;
    }

    &::after {
      background-color: $gray-lighter;
      right: -10px;
    }

    .progress-bar {
      position: relative;
      height: 5px;
      width: 0%;
    }
    $offsetY: -25px;
    $offsetX: -10px;

    &__current,
    &__end,
    &__start {
      color: $gray-lighter;
      text-transform: uppercase;
      letter-spacing: $letterspacing-narrow;
    }

    &__start {
      position: absolute;
      top: $offsetY;
      left: $offsetX;
    }

    &__end {
      position: absolute;
      top: $offsetY;
      right: $offsetX;
    }

    &__current {
      position: absolute;
      top: $offsetY;
      right: $offsetX;
      color: $black;

      &::after {
        content: "";
        display: block;
//        @include triangle-down(3px, $black);
        position: absolute;
        right: $offsetX * (-1);
      }

      @include media-breakpoint-down(md) {
        top: $offsetY * (-1);

        &::after{
//          @include triangle-up(3px, $black);
          top: $offsetX;
        }
      }
    }
  }

  &__contact {
    @extend .my-5;

    .telephone, .email {
      @extend %contact-btn;

      &:not(:last-child) {
        @extend .mr-3;
        @extend .mb-3;
      }
    }
  }
}
