.module-teasers {
  @extend .mt-5;
  @extend .row;
  @extend .justify-content-center;
}

.module-teaser {
  @extend .col-10;
  @extend .col-md-4;
  $color-bar-height: 8px;
  padding: 0;
  position: relative;
  transition: box-shadow 500ms;

  @include media-breakpoint-down(sm) {
    &:not(:last-child) {
      margin-right: 0 !important;
      margin-bottom: get-spacer(5);
    }
  }

  &:not(:last-child) {
    margin-right: get-spacer(5);
  }

  @each $key, $color in $color-list {
    &.#{$key}::after {
      background-color: $color;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: $color-bar-height;
    transition: transform 500ms;
    transform-origin: top center;
  }

  img {
    width: 100%;
    height: auto;
  }

  &__headline {
    @extend .p-3;
    @extend .pl-4;
    @extend .pr-6;
    position: absolute;
    bottom: $color-bar-height;
    left: 0;
    margin: 0;
    width: 100%;
    hyphens: none;
    @include gradient-y(rgba(0,0,0,0), rgba(0,0,0,0.6), 0%, 100%);

    a {
      display: block;
      color: $white;
    }
  }

  &__icon {
    @extend %icon;
    @extend .icon-arrow-right;
    color: $white;
    position: absolute;
    bottom: $spacer * 2;
    right: $spacer * 3;
    transition: right 500ms;
    transform: translateZ(0);
  }

  &:hover{
    @include circle-shadow($gray-light);

    @include media-breakpoint-down(sm){
      box-shadow: none;
    }

    .module-teaser__icon{
      right: $spacer * 2;
    }
  }
}
