<div class="construction-progress">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{'Live Progress'|trans}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p class="modal-body__loading">{{'Loading'|t}}</p>
      	<img class="modal-body__image img-fluid" src="{{imageUrl}}"/>
    </div>
  </div>
</div>
