<div class="vert-bar-chart-data">
  <p class="vert-bar-chart-data__name">{{content.field_name}}</p>
  <p class="vert-bar-chart-data__value">{{content.field_value}}</p>
  <div class="vert-bar-chart-data__bar">
    <p>B</p>
    <p>A</p>
    <p>R</p>
  </div>
</div>