<div class="floor-data__cell">{% if content.field_floor_office_space.0 %}{{content.field_floor_office_space}}&nbsp;m<sup>2</sup>{% endif %}</div>
<div class="floor-data__cell">{% if content.field_floor_foyer_space.0 %}{{content.field_floor_foyer_space}}&nbsp;m<sup>2</sup>{% endif %}</div>
<div class="floor-data__cell">{% if content.field_floor_terrace_space.0 %}{{content.field_floor_terrace_space}}&nbsp;m<sup>2</sup>{% endif %}</div>