<div class="icon-chart-data">
  <div class="icon-chart-data__icon {{content.field_key[0]['#context'].value}}"></div>
  <p class="icon-chart-data__name">{{content.field_name}}</p>
  <p class="icon-chart-data__value" data-count-up="{{content.field_value.0['#markup']}}">{{content.field_value}}</p>
</div>
