<div data-video-stage class="video-stage">
  <div data-video-player class="video-stage__player">
    
  </div>
  <div data-video-thumbs class="video-stage__thumbs">
    {{content}}
    <div data-swipe-prev class="slider__button-prev icon-arrow-left"><span></span></div>
    <div data-swipe-next class="slider__button-next icon-arrow-right"><span></span></div>
  </div>
</div>