<div class="image-mosaic__part" style="background-image: url('{{image_url}}')">
  <div class="part__container">
    <div class="part__overlay">
      <div class="part__content">
        {{content.field_headline}}
        {{content.field_text}}
      </div>
    </div>
  </div>
</div>