<div class="image-gallery-item">
  <h1 class="image-gallery-item__headline">{{ content.field_ig_headline }}</h1>
  <div class="image-gallery-item__image">{{ content.field_ig_image }}</div>
  <div class="image-gallery-item__subline">{{ content.field_ig_subline }}</div>
</div>
