{% if content.field_headline.0 %}
<div class="white-label">
  {{content.field_headline}}
  {{content.field_text}}
</div>
{% endif %}
<div class="panorama" data-panorama-preview-url="{{large_image}}" data-panorama-url="{{file_url(content.field_panorama[0]['#file'].getFileUri())}}">
    <div class="panorama-close" data-panorama-close></div>
</div>
