<div class="image-mosaic__part">
  <div class="part__container">
    {{content.field_image}}
    <div class="part__overlay">
      <div class="part__content">
        <div class="part__headline">{{content.field_headline}}</div>
        <div class="part__text">{{content.field_text}}</div>
      </div>
    </div>
  </div>
</div>
