<div data-vimeo-video-id="{{content.field_vimeo_id[0]['#context'].value}}" class="video-thumb">
  <header class="video-thumb__header">
    {{content.field_image}}
    {{content.field_headline}}
  </header>
  <div class="video-thumb__text">
    {{content.field_text}}
  </div>
</div>
