<div class="chart {{content.field_color_variation[0]['#markup']|clean_class}} {{content.field_picture_side[0]['#markup']|clean_class}}">
  <div class="chart__data">
      {{content.field_chart_data}}
  </div>
</div>