<div class="image-with-text-slide slide">
  <div class="image-with-text-slide__content">
    <div class="white-label">
      {{content.field_headline}}
      {{content.field_text}}
    </div>
    {{content.field_image}}
  </div>
</div>