<div data-slider class="slider">
  {{content}}
  
  <div data-swipe-pages class="slider__pagination"></div>
    
  <div data-swipe-prev class="slider__button-prev">Prev</div>
  <div data-swipe-next class="slider__button-next">next</div>
</div>