<div class="intro">
  {{content.field_headline}}
  
  <div data-discover-arrow class="scroll-animator">
    <p>{{'Scroll to experience The Circle' | trans }}</p>
    <span class="icon-arrow-down">
        <span class="path1 arrow"></span><span class="path2"></span>
    </span>
  </div>
</div>