<div class="image-mosaic__part">
  <div class="part__container">
    {{content.field_image}}
    <div class="part__overlay">
      <div class="part__content">
        {{content.field_headline}}
        {{content.field_text}}
      </div>
    </div>
  </div>
</div>