<div class="image-with-text-and-image">
    <div class="image-with-text__image">
        {{content.field_image}}
    </div>
    <div class="image-with-text__text">
        {{ content.field_headline }}
        <div class="para">
        {{ content.field_text }}
        </div>
        {{content.field_side_image}}
    </div>
</div>