<div class="logo">  
  <svg id="logo" class="logo__ani" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 181 187" style="enable-background:new 0 0 181 187;" xml:space="preserve">
  <style type="text/css">
  	.st0{fill:#008074;}
  	.st1{fill:#747B0D;}
  	.st2{fill:#006EAB;}
  	.st3{fill:#C00A26;}
  	.st4{fill:#DA9400;}
  	.st5{fill:#A56A01;}
  	.st6{fill:#E95A1A;}
  </style>
  <path class="st0" d="M111.9,28.5C77.2,20.6,27.2,22.9,19,57.8s28.5,89.2,63.2,97.1c34.7,7.9,69.6-14,77.8-48.9
  	C168.2,71.1,146.6,36.4,111.9,28.5z M158,104.6c-7.8,33.3-41.3,54.1-74.7,46.4c-33.4-7.6-68.8-59.4-61-92.7
  	c7.8-33.3,55.9-35.3,89.3-27.7C145.1,38.2,165.9,71.4,158,104.6z"/>
  <path class="st1" d="M157.1,27.5c-36.8-11.8-65.7-35.3-106.5-10C9.7,42.7-7.8,92.3,9.2,118.9c17.1,26.6,64,27.7,104.8,2.5
  	C154.9,96.2,191.8,38.6,157.1,27.5z M114,118.8c-39.2,25.2-84.7,24.9-101.7-0.7c-17-25.5-0.8-73.9,38.4-99.1
  	c39.2-25.2,67.6-2.9,103.5,7.9C188,37.2,153.2,93.7,114,118.8z"/>
  <path class="st2" d="M70.3,1.5C35.9,1.4,8.1,30,8.2,65.2c0,35.2,37.9,107.5,72.3,107.6c34.3,0,77.2-59.7,77.2-94.9
  	C157.6,42.6,104.6,1.5,70.3,1.5z M77,169.1C43.7,167.9,9.5,96.5,10.7,62.4C11.9,28.3,39.8,1.5,73.1,2.7
  	c33.3,1.2,83.3,42.8,82.1,76.9C154,113.7,110.3,170.2,77,169.1z"/>
  <path class="st3" d="M111.5,20.7c-32.2-7.2-79.7-0.2-90.3,45.1C10.5,111,40.7,177.4,72.9,184.6s66.9-23.6,77.6-68.9
  	C161.2,70.4,143.7,27.9,111.5,20.7z M149.2,111.9c-8,44.4-40,76-71.6,70.6c-31.6-5.4-64.2-68.2-56.3-112.6
  	c8-44.4,53.6-53.6,85.1-48.2C138,27.2,157.2,67.5,149.2,111.9z"/>
  <path class="st4" d="M101.4,1.4C69.5-0.3,22.6,49.7,21,80.9s49.8,86.4,81.6,88.1c31.8,1.7,49.9-71.2,51.5-102.3
  	C155.7,35.5,133.2,3.1,101.4,1.4z M152.7,69.5c-2.6,30.1-22.6,100.2-53.4,97.5c-30.8-2.7-78.8-58.1-76.2-88.2s49.8-77,80.6-74.3
  	C134.6,7.1,155.3,39.3,152.7,69.5z"/>
  <path class="st5" d="M163.5,61.9c-31.6-17.6-58.8-45.1-87.5-27.5c-28.7,17.6-34.5,62.6-16.3,91.1c18.2,28.6,56.2,37.5,84.8,19.9
  	C173.2,127.9,193.3,78.4,163.5,61.9z M142.8,143.8c-27.8,16.4-64.1,7.2-81.1-20.6c-17-27.8-10.6-70.9,17.2-87.3
  	c27.8-16.4,53.4,10.5,83.5,27.9C190.7,80.2,170.6,127.4,142.8,143.8z"/>
  <path class="st6" d="M127.7,65.2c-13.8-27.9-44.5-41.3-68.6-29.8s-43.4,58.1-29.6,86c13.8,27.9,55.6,26.7,79.7,15.2
  	C133.3,125.1,141.6,93.1,127.7,65.2z M104.2,136.8c-23.8,9.4-63.9,7.8-75.3-19.9C17.5,89.2,39.2,45.9,63,36.5
  	c23.8-9.4,52.3,5.4,63.7,33.1C138.1,97.3,128,127.4,104.2,136.8z"/>
  </svg>
  
  <div class="logo__static">
    <img src="{{ base_path ~ directory }}/assets/images/logo.svg" />
  </div>
</div>