.contact {
  text-align: center;

  &__heading {
    margin-top: (get-spacer(6) * 2);

    @include media-breakpoint-down(md) {
      margin-top: get-spacer(5);
    }
  }

  &__info-row,
  &__team-row,
  &__partner-row {
    @extend .row;
    padding: get-spacer(6) 0;
    justify-content: center;

    &.egg {
      background-color: $circle-egg;
    }

    @include media-breakpoint-down(md) {
      padding: get-spacer(5) 0;
    }
  }

  &__info-col,
  &__partner-col {
    @extend .col-12;
    @extend .col-lg-4;

    h4,
    h5 {
      font-size: 1rem;
      text-transform: none;
    }

    h6 {
      @extend .mt-5;
      margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: get-spacer(5);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__team-col {
    @extend .col-12;
    @extend .col-lg-3;
    margin: get-spacer(4) get-spacer(4) 0;

    &.toTop {
      margin-top: 0;
    }

    h5 {
      font-size: 1rem;
      text-align: left;
      margin-left: 15%;
    }

    p {
      text-align: left;
      margin-bottom: 0;
      margin-left: 15%;
    }

    img {
      @extend .mb-3;
      width: 70%;
      max-width: 400px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 0 get-spacer(6);

      h5,
      p {
        text-align: inherit;
        margin-left: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 1;
      }

      &:nth-child(3) {
        order: 3;
      }
    }
  }

  &__team-heading,
  &__partner-heading {
    @extend .col-12;
  }

  .mail {
    @extend .mt-md-5;
    @extend %contact-btn;

    &__icon {
      @extend %icon;
      @extend .icon-email;
    }

    .arrow__icon {
      @extend %icon;
      @extend .icon-arrow-right;
      font-size: 1rem;
    }
  }
}
