.image-with-text-and-image {
  @extend .image-with-text;

  .image-with-text__image {
    @extend .col-md-6;
  }

  .image-with-text__text {
    @extend .col-md-6;
    @extend .image-with-text__text;

    img {
      @extend .mt-4;
      width: 120%;
      height: auto;
      position: relative;
      left: -10%;
      flex: 0 0 auto;

      @include media-breakpoint-down(md) {
        left: 0;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}
