.image-with-text {
  @extend .row;
  background-color: $white;
  &__image {
    @extend .col-md-7;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__text {
    @extend .col-md-5;
    padding: $spacer percentage(1 / $grid-columns);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      @include set-spacer-for-py(6);
      text-align: center;
      align-items: center;
    }

    h2,div,a {
      max-width: 100%;
    }
  }
  &.small-headline {
    h2 {
      font-size: $fontsize-subtitle;
    }
  }
  &.right {
    .image-with-text__image {
      order: 2;
    }
  }
  &.egg {
    background-color: $circle-egg;
  }
  .button {
    @extend .mt-4;


    @include media-breakpoint-down(md) {
      margin: auto;
    }

    @include media-breakpoint-only(md) {
      min-width: 100%;
    }

  }

  // Animation
  h2,
  .para,
  .button,
  img {
    @extend %from-bottom;
  }
}
