.image-mosaic {
  position: relative;
  overflow: hidden;
  &__part {
    float: left;
    width: 25%;
    @include media-breakpoint-down(md) {
      width: 50%;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
    &:nth-child(1) {
      width: 50%;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
    .part {
      &__container {
        position: relative;
      }
      &__overlay {
        @include full-overlay;
        display: block;
        hyphens: auto;
        background-color: rgba(0,0,0,0);
        transition: background-color 250ms;

        &:hover {
          background-color: rgba(0,0,0,0.6);
          .part__content{
            transform: translateY(50%);
            bottom: 50%;
          }
          .part__text{
            display: block;
          }
        }
      }
      &__content {
        position: absolute;
        bottom: 0;
        transform: translateY(0);
        width: 100%;
        padding: $spacer;
        color: $white;
        text-align: center;
        transition: bottom 450ms;

        @include media-breakpoint-down(md) {
          padding: $spacer*2;
        }

      }
      &__headline {
        h2 {
          font-size: $fontsize-subtitle - 0.5;
          letter-spacing: $letterspacing-narrow;
        }
      }
      &__text{
        display: none;
      }
    }
  }
}
