.image-mosaic {
  position: relative;
  &__part {
    float: left;
    width: 25%;

    img {
      width: 100%;
      height: auto;
    }
    &:nth-child(1) {
      width: 50%;
    }
    .part {
      &__container {
        position: relative;
      }
      &__overlay {
        @include full-overlay;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        hyphens: auto;
      }
      &__content {
        padding: $spacer;
      }
    }
  }
}