.image-with-text {
  @extend .row;
  &__image {
    @extend .col-md-7;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__text {
    @extend .col;
    padding: $spacer percentage(1 / $grid-columns);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include media-breakpoint-down(lg) {
      padding: $spacer $spacer;
    }
  }
  &.right {
    .image-with-text__image {
      order: 2;
    }
  }
  &.egg {
    background-color: $circle-egg;
  }
  .button {
    @extend .mt-4;
  }

  // Animation
  h2,
  .para,
  .button,
  img {
    &.animation {
      transition: all 800ms;
      position: relative;
      top: 0;
    }
    &.is-in-prepared {
      top: 100px;
      opacity: 0;
    }
  }
}
