.video-stage {
  &__player {
    @extend .embed-responsive;
    @extend .embed-responsive-16by9;
  }
  &__thumbs {
    .is-out {
      opacity: 1;
      position: relative;
      top: 30px;
    }
  }
  .slide {
    padding: 0 30px;
    img {
      width: 100%;
      height: auto;
    }
  }
}