//**    **//
// Colors //
//**    **//
$circle-yellow: #caa01e;
$circle-orange: #bd5428;
$circle-red:    #a8112e;
$circle-brown:  #9b7415;
$circle-green:  #7c851a;
$circle-sea:    #42897b;
$circle-blue:  #1371af;
