//**    **//
// Colors //
//**    **//

$circle-green:  #737E00;
$circle-orange: #E15B12;
$circle-yellow: #D49700;
$circle-blue:   #2D6CAD;
$circle-sea:    #248274;
$circle-brown:  #A16C00;
$circle-red:    #BA0023;

$color-list: (
  yellow: $circle-yellow,
  orange: $circle-orange,
  red: $circle-red,
  brown: $circle-brown,
  green: $circle-green,
  sea: $circle-sea,
  blue: $circle-blue
);

$circle-egg: #f4f2e9;

$site-nav-height: 66px;
$site-subnav-height: 66px;

$fontsize-stage: 3.125rem;

$fontsize-title: $font-size-h2;
$fontsize-title-tablet: $fontsize-title - 0.4;
$fontsize-title-mobile: $fontsize-title - 0.8;

$fontsize-subtitle: $font-size-h4;
$fontsize-subtitle-mobile: $fontsize-subtitle - 0.4;

$letterspacing-wide: 0.2em;
$letterspacing-narrow: 0.1em;
