//**    **//
// Colors //
//**    **//
$circle-yellow: #caa01e;
$circle-orange: #bd5428;
$circle-red:    #a8112e;
$circle-brown:  #9b7415;
$circle-green:  #7c851a;
$circle-sea:    #42897b;
$circle-blue:   #1371af;

$color-list: (
  yellow: $circle-yellow,
  orange: $circle-orange,
  red: $circle-red,
  brown: $circle-brown,
  green: $circle-green,
  sea: $circle-sea,
  blue: $circle-blue
);

$circle-egg: #f4f2e9;


$site-nav-height: 66px;
$site-subnav-height: 66px;
