.image-with-text {
  @extend .row;
  &__image {
    @extend .col-md-7;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__text {
    @extend .col;
    padding: $spacer percentage(1 / $grid-columns);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &.right {
    .image-with-text__image {
      order: 2;
    }
  }
  &.egg {
    background-color: $circle-egg;
  }
  .button {
    @extend .mt-4;
  }
}