.stage {
  position: relative;
  h2 {
    @extend .hidden-md-down;
    @include full-overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    margin: 0;
    text-align: center;
  }
  video {
    width: 100%;
    display: block;
  }
  &::before {
    @extend .hidden-md-down;
    content: " ";
    @include full-overlay;
    @include gradient-radial(rgba(0,0,0,0), rgba(0,0,0, 0.8));
  }

  &__scroll {
    @extend .hidden-md-down;
    position: absolute;
    bottom: $spacer;
    left: 0;
    right: 0;
    text-align: center;
  }
}
