<div class="news-teaser">
  <div class="grid">
  {% for row in rows %}
    <div class="grid__element">
      {{ row.content }}
    </div>
  {% endfor %}
  </div>
  <div data-load-more class="load-more">
      <p>{{'Show more News'|t}}</p>
      <a href="#">
        <span class="icon-plus"></span>
      </a>
    </div>
</div>
