<h2>{{ 'News'|trans }}</h2>
<div class="grid">
{% for row in rows %}
  <div class="grid__element">
    {{ row.content }}
  </div>
{% endfor %}
</div>

<div class="more-link">
  <a href="{{ path('view.news.page_1') }}">{{'All News'|t}}</a>
</div>