<div class="news-teaser">
  <h2>{{ 'News'|trans }}</h2>

  <div class="news-teaser__row">
    <div class="news-teaser__col">
      <div class="news-teaser__text">{{'News headline paragraph'|t}}</div>
    </div>
  </div>

  <div class="grid">
  {% for row in rows %}
    <div class="grid__element">
      {{ row.content }}
    </div>
  {% endfor %}
  </div>
  <div data-load-more class="load-more">
      <p>{{'Show more News'|t}}</p>
      <a href="#">
        <span class="icon-plus"></span>
      </a>
    </div>
</div>