.discover-slides {
  .intro {
    @include full-overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2 {
      color: $white;
      max-width: 440px;
      hyphens: none;
      text-align: center;
    }
    
    .scroll-animator {
      position: absolute;
      bottom: $spacer;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}