.discover-slides {
  position: relative;
  height: 100%;
  &__nav {
    position: absolute;
    right: $spacer;
    top: $spacer;
    z-index: 10;
  }
  
  &__slide {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  &__fullwrap {
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}

.page-node-type-discover-page {
  height: 100%;
  body {
    height: 100%;
    overflow: hidden;
  }
  main {
    position: fixed;
    top: $site-nav-height;
    height: calc(100% - #{$site-nav-height});
    width: 100%;
    background: $circle-green;
  }
  .fix-wrapper {
    position: fixed;
    width: 100%;
  }
}