.discover-slides {
  position: relative;
  height: 100%;
  &__nav {
    position: absolute;
    right: 3*$spacer;
    top: $spacer;
    bottom: $spacer;
    z-index: 10;
  }
  
  &__slide {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  &__fullwrap {
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
  }
}

.white-label {
  $distance: 10%;
  position: absolute;
  z-index: 5;
  background: $white;
  max-width: 360px;
  left: $distance;
  text-align: center;
  
  .top-right & {
    left: auto;
    right: $distance;
  }
  .bottom-left & {
    bottom: 0;
  }
  
  .bottom-right & {
    bottom: 0;
    left: auto;
    right: $distance;
  }
}

.page-node-type-discover-page {
  height: 100%;
  body {
    height: 100%;
    overflow: hidden;
  }
  main {
    position: fixed;
    top: $site-nav-height;
    height: calc(100% - #{$site-nav-height});
    width: 100%;
    background: $circle-green;
  }
  .fix-wrapper {
    position: fixed;
    width: 100%;
    z-index: 99;
  }
}