.discover-slides {
  &__nav {
    ul {
      @extend .list-unstyled;
      display: flex;
      flex-direction: column;
      color: $white;
      justify-content: center;
      margin: 0;
      height: 100%;
    }
    li {
      cursor: pointer;
      position: relative;
      $dot-size: 0.6rem;

      a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .dot {
        display: inline-block;
        border: 2px solid $white;
        width: $dot-size;
        height: $dot-size;
        border-radius: 50%;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
      }
      .title {
        position: relative;
        background: $white;
        color: $black;
        margin-right: -1010px;
        padding: 7px 0 5px 10px;
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
          padding-top: 10px;
        }

        &::after {
          position: absolute;
          top: 0;
          right: -32px;
          content: "";
          @include triangle-right(16px, $white);
        }
      }
      &:hover {
       .title {
         margin-right: 35px;
       }
      }
      &.active {
        text-decoration: underline;
        .dot {
          background-color: $white;
        }
      }
    }
  }
}
