.discover-slides {
  &__nav {
    transform: translateZ(0);
  }
  &__slide {
    display: none;
    &.active {
      display: block;
      z-index: 5;
    }
    &.was-active {
      display: block;
      z-index: 3;
    }
    &.transitioning {
      clip-path: url(#svgPath); 
    }
  }
  
  .title-ani {
    @include full-overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    h3 {
      font-size: 3rem;
      img {
        min-width: 300px;
        width: 100%;
        height: auto;
      }
    }
  }
}