{% extends "node--rental_house.html.twig" %}

{% block svg_overlay %}
  <svg version="1.1" id="house-overlay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1300 831" style="enable-background:new 0 0 1300 831;" xml:space="preserve">
    <a xlink:href="{{path('entity.node.canonical', {'node': 38})}}">
      <g data-node-id="38" id="H15">
        <polygon class="st0" points="1194,811.2 1181.9,818.4 1181.6,831 1300,831 1300,465.8 1256.8,459.6 1190.4,493.4
	1190.4,498.2 1174.6,506.7 1173.4,569.5 1140.8,586.4 1136,773.7 1220.6,788.2 1194,803.9 "/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 37})}}">
      <g data-node-id="37" id="H13">
        <path id="H13" class="st0" d="M1300,365.9c-56.8-12-93.9-19.9-93.9-19.9v-3.6h-2.4l-122,58l-68.9-8.5l-67.7,30.2v47.1l-24.2,12.1
	L918,669.6l5.7,10l10,5l2.5,2.5l-2.5,2.5v5l5,7.5l5,15l2.5-17.5l5-2.5l7.5-12.5l2.5-10l7.5-2.5h7.5l10,10l5,15l7.5,7.5l-10,10v5h10
	v5l7.5,2.5l2.5,10l67.5,20l62.2-34.1l2.4-136.6l32.6-15.7l1.2-64l14.5-8.5l2.4-4.8l65.2-33.8l43.2,6.2V365.9z"/>
      </g>
    </a>
  </svg>
{% endblock %}