<div class="module-teaser-2 {{content.field_color['#items'][0].value}}">
  {{content.field_image}}
  <h6>{{label}}</h6>
  <div class="details">
    <div class="details__text">
      {{content.field_teaser_text}}
    </div>
  </div>
</div>