{% extends "node--rental_house.html.twig" %}

{% block svg_overlay %}
  <svg version="1.1" id="house-overlay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1300 831" style="enable-background:new 0 0 1300 831;" xml:space="preserve">
    <a xlink:href="{{path('entity.node.canonical', {'node': 33})}}">
      <g data-node-id="33" id="H11">
        <path class="st0" d="M0,744.9c45.7-2.1,82.3-3.4,82.3-3.4l1.9-1.9l33.8-2.9l2.9,3.9l94.7-3.9l92.8-310.3h4.8l1-13.5
	L0,348.1V744.9z"/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 39})}}">
      <g data-node-id="39" id="H16">
        <path class="st0" d="M279.5,526l-3.9,119.9l-40.6,29L279.5,526z M500.8,96.8L438,86.2v-3.9h1l3.9-2.9V66.9L429.4,65l-2.9,1
	v4.8l-8.7,4.8l-1.9,1.9H412l-4.8,3.9L247.6,54.3h-1.9l-50.3,30l-1,58l-6.8-1l-7.7,3.9l-13.5-1.9l-50.3,31.9l-1,26.1L89,197.4
	l-22.2,15.5L63,209l-2.9,1.9l-3.9,3.9l-1.9,4.8l-31.9,19.3h-2.9l-3.9,1.9l-2.9,4.8L0,254.2v94l283.3,58l1-20.3L436,273.7l52.2,8.7
	l103.4-78.3l1.9-68.6L500.8,120V96.8z"/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 38})}}">
      <g data-node-id="38" id="H15">
        <polygon id="H15" class="st0" points="48.3,0 46.5,68.8 114.2,80.4 92.9,93 92.9,98.8 83.3,104.6 82.3,151 63.9,161.6 64.9,212.8
	89.1,197.4 115.2,201.2 116.1,175.1 166.4,143.2 181.9,145.1 188.6,141.3 195.4,141.3 195.4,84.3 245.6,54.3 408,80.4 412.9,77.5
	416.7,77.5 416.7,76.5 426.4,69.8 426.4,66.9 428.3,64.9 442.8,66.9 442.8,80.4 438,83.3 438,86.2 500.8,96.8 500.8,120
	567.5,131.6 572.3,6.9 575.2,5 575.4,0 "/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 37})}}">
      <g data-node-id="37" id="H13">
        <path class="st0" d="M575.6,0h441.6c39.6,56.9,13.8,101.2-0.2,134.5c-1.5,3.5-2.5,2.2-3,0.9c-1.4,6.5-19.3,41.6-19.3,41.6
	l-1.9-14.5l-114.1-18.4l1-3.9l-11.6-1l27.1-25.1v5.8l17.4,1.9l1-9.7l-6.8-1.9l1-3.9l-1.9-1v-1.9h8.7l1-3.9l-12.6-1l-5.8-2.9v3.9
	l4.8,2.9l-39.6,30.9l-3.9,1l-1,1.9l-5.8-1l-2.9,3.9l-115-19.3L665.2,172l-25.1-3.9l-48.3,35.8l2.9-67.7l-28-4.8L573.3,6
	c1.2-0.1,2-1.1,2.1-2.2C575.5,2.7,575.5,1.5,575.6,0z M0,54.8l48.5-26.6L49,0H0V54.8z"/>
      </g>
    </a>
  </svg>
{% endblock %}