{% extends "node--rental_house.html.twig" %}

{% block svg_overlay %}
  <svg version="1.1" id="house-overlay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1300 831" style="enable-background:new 0 0 1300 831;" xml:space="preserve">
    <a xlink:href="{{path('entity.node.canonical', {'node': 33})}}">
      <g data-node-id="33" id="H11">
        <polygon class="st0" points="183,786 0,734.3 0,831 185.8,831 "/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 38})}}">
      <g data-node-id="38" id="H15">
        <polygon class="st0" points="543.2,0 541.6,61.9 634.7,77.9 605.4,95.1 605.4,103.1 592.1,111.1 590.8,174.9 565.6,189.5
	566.9,259.9 600.1,238.7 636,244 637.3,208.1 706.4,164.3 727.7,166.9 737,161.6 746.3,161.6 746.3,83.2 815.4,42 1038.7,77.9
	1045.3,73.9 1050.6,73.9 1050.6,72.6 1063.9,63.3 1063.9,59.3 1066.6,56.6 1086.5,59.3 1086.5,77.9 1079.9,81.9 1079.9,85.9
	1166.3,100.5 1166.3,132.4 1258,148.3 1263.7,0 "/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 37})}}">
      <g data-node-id="37" id="H13">
        <path class="st0" d="M390.6,2.4h-11V0h164.8l-0.1,6.2l-68.5,37.5l-74.2-22l-2.7-11l-8.2-2.8V2.4z M1300,241.5V0h-35.4
	l-8,148.3l38.5,6.6l-4,93L1300,241.5z"/>
      </g>
    </a>
  </svg>
{% endblock %}