{% extends "node--rental_house.html.twig" %}

{% block svg_overlay %}
  <svg version="1.1" id="house-overlay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1300 831" style="enable-background:new 0 0 1300 831;" xml:space="preserve">
    <a xlink:href="{{path('entity.node.canonical', {'node': 39})}}">
      <g data-node-id="39" id="H16">
        <path class="st0" d="M1121.6,394.8l-2.9,89.9l-30.4,21.7L1121.6,394.8z M1300,92.4l-12.4-2.1V72.9l-47.1-8V62h0.7l2.9-2.2
	v-9.4L1234,49l-2.2,0.7v3.6l-6.5,3.6l-1.4,1.4h-2.9l-3.6,2.9L1097.7,41h-1.4l-37.7,22.5l-0.7,43.5l-5.1-0.7l-5.8,2.9l-10.2-1.5
	l-37.7,23.9l-0.7,19.6l-19.6-2.9l-16.7,11.6l-2.9-2.9l-2.2,1.5l-2.9,2.9l-1.4,3.6l-23.9,14.5h-2.2l-2.9,1.5l-2.2,3.6l-10.9,7.2
	l-13-2.2l-15.2,10.1v-12.3l-105.8-21h-2.9l-46.4,26.8l-0.7,21.7l27.5,5.8l-0.7,60.2l63.1-39.1l308.1,63.1l0.7-15.2l113.8-84.1
	l39.2,6.5l21.8-16.5L1300,92.4L1300,92.4z"/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 38})}}">
      <g data-node-id="38" id="H15">
        <polygon class="st0" points="946.9,51.9 997.6,60.6 981.7,70 981.7,74.3 974.5,78.7 973.7,113.5 960,121.5 960.7,159.9
	978.8,148.3 998.4,151.2 999.1,131.6 1036.8,107.7 1048.4,109.1 1053.5,106.2 1058.5,106.2 1058.5,63.5 1096.2,41 1218,60.6
	1221.7,58.4 1224.6,58.4 1224.6,57.7 1231.8,52.6 1231.8,50.4 1233.2,49 1244.1,50.4 1244.1,60.6 1240.5,62.8 1240.5,64.9
	1287.6,72.9 1287.6,90.3 1300,92.5 1300,0 948.2,0 "/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 36})}}">
      <g data-node-id="36" id="H12">
        <path class="st0" d="M1213.6,539c-31.7,6.2-64,9.6-96.3,10.1l4.3-155.9L1147,310l-21.8-5.1v-15.2l113.8-84.1l39.2,7.2
	l21.8-16.5V519C1275.8,525.3,1245.3,532.8,1213.6,539z"/>
      </g>
    </a>
  </svg>
{% endblock %}