{% extends "node--rental_house.html.twig" %}

{% block svg_overlay %}
  <svg id="house-overlay" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 1300 831" enable-background="new 0 0 1300 831" xml:space="preserve">
    <a xlink:href="{{path('entity.node.canonical', {'node': 36})}}">
      <g data-node-id="36" id="H12">
        <path d="M842.3,475.6l-14.5-3.4v-10.1l75.9-56l26.1,4.8l75.9-57.5l12.6,2.4l33.8-26.6l58,9.7l1.4-1.4h2.9v-1
               	h1.9l20.3-15.9l-2.4-1.5v-1.9l2.9,1.4h5.8v1.9h-4.8v2.9h1.4v1l2.9,0.5v5.3l-9.7-1l0.5-2.4l-14,12.1h3.4v0.5h2.4v1.9l57,9.7v7.2
               	c0,0-47.8,105.5-58.1,126.7c-0.6,1.2-1.1,2.1-1.4,2.8c-6,11.5-9.1,24.8-37.2,50.2c-0.4,0-10.1-1.9-10.1-1.9c0.2-0.4,0.2-0.9-0.1-1.3
               	c-0.6-0.2-1.2-0.3-1.9-0.2l-2.4,1.4h-2.9l-0.5,1.5l-4.8-0.5l-1,0.5l-4.3,24.6l-0.5,0.5l-0.5,0.5c0,0-18,14.7-34.3,23.2
               	c-5.9,3.1-11.4,7-49.8,21.3c-13.8,3.5-48.5,13.5-85.6,20.8c-21.2,4.2-42.7,6.4-64.2,6.8l2.9-103.9L842.3,475.6z M1060.3,560.2
               	l3.9-20.3l7.2,1.9l-0.5,5.3l3.9,1.5C1074.8,548.6,1061.3,559.2,1060.3,560.2z"/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 39})}}">
      <g data-node-id="39" id="H16">
        <path d="M562,412.3l0.5-14.5l30.9-17.9h1.9l70.6,14v8.2l10.1-6.8l8.7,1.4l7.2-4.8l1.5-2.4l1.9-1h1.5l15.9-9.7
               	l1-2.4l1.9-1.9l1.5-1l1.9,1.9l11.1-7.7l13,1.9l0.5-13l25.1-15.9l6.8,1l3.9-1.9l3.4,0.5l0.5-29l25.1-15h1l79.7,13.5l2.4-1.9h1.9l1-1
               	l4.3-2.4v-2.4l1.5-0.5l6.8,1v6.3l-1.9,1.4h-0.5v1.9l31.4,5.3v11.6l46.4,7.7l-1,34.3l-51.7,39.1l-26.1-4.3l-75.9,56l-0.5,10.1
               	l-205.4-42l-42,26.1l0.5-40.1L562,412.3z M803.2,606.6l20.3-14.5l1.9-59.9L803.2,606.6z"/>
      </g>
    </a>
  </svg>
{% endblock %}