.filter-link {
  cursor: pointer;
  text-decoration: line-through;
  &.active {
    text-decoration: none;
  }
}

.circle-layer {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms;
  img {
    width: 100%;
    height: auto;
  }
  &.active {
    opacity: 1;
  }
}