.filter-link {
  cursor: pointer;
  &__eye {
    @extend %icon;
    @extend .icon-invisible;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  &.active {
    .filter-link__eye {
      @extend .icon-visible;
    }
  }
  
  @each $key, $color in $color-list {
    &.#{$key} {
      .filter-link__eye {
        color: $color;
      }
      &.active {
        color: $color;
      }
    }
  }
}

.circle-layer {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms;
  img {
    width: 100%;
    height: auto;
  }
  &.active {
    opacity: 1;
  }
}