.house-floors-container {
  @extend .row;

  .house-floors {
    @extend .col-md-6;
    @extend .offset-md-1;
  }
  .house-svg {
    @extend .col-md-4;
    @extend .hidden-sm-down;

    align-self: flex-end;
    text-align: center;
    position: relative;

    [id^=Highlight] {
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }
  }
}

.house-floors {
  &__table {
    @extend .table;
    @extend .table-hover;
    margin: 0;

    th {
      @extend strong;
      text-transform: uppercase;
      border-top: none;
    }
  }
  &__row {
    &.clickable {
      cursor: pointer;
      &:hover {
        color: $white;
        background-color: $gray-light;
        a {
          color: $white;
        }
      }
      a {
        color: $body-color;
      }
    }
  }
  &__cell {
    text-align: center;
    &.not-for-rent {
      background-color: $gray-lighter;
    }
  }
}

.floor-status-text {
  @extend .hidden-sm-down;
}
.floor-status-icon {
  @extend .hidden-md-up;
  $size: 10px;
  width: $size;
  height: $size;
  display: inline-block;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    lighten($circle-sea, 8%),
    lighten($circle-sea, 8%) 50%,
    $circle-sea 50%
  );
  &.reserved {
    background-image: linear-gradient(
      to right,
      lighten($circle-orange, 8%),
      lighten($circle-orange, 8%) 50%,
      $circle-orange 50%
    );
  }
  &.taken {
    background-image: linear-gradient(
      to right,
      lighten($circle-red, 8%),
      lighten($circle-red, 8%) 50%,
      $circle-red 50%
    );
  }
}

.page-node-type-rental-house {
  .floor-images {
    position: relative;
  }
  .content-blocks {
    margin-top: 4*$spacer;
  }
}
