.area-row {
  @extend .row;
  @extend .no-gutters;

  position: relative;

  .area__scroll {
    bottom: 1rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 100;

    @include media-breakpoint-up(lg) {
      left: 48%;
    }

    @include media-breakpoint-up(xl) {
      left: 33%;
    }
  }

  .area-stage {
    @extend .col-xl-9;
    @extend .col-lg-8;
    padding: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  .area-info {
    @extend .col-xl-3;
    @extend .col-lg-4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    &__top {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: $spacer 8%;
      position: relative;
      z-index: 1;
    }
    &__middle {
      position: relative;
      z-index: 2;
    }
    &__bottom {
      flex: 1;
      position: relative;
      padding: 0 8%;
      z-index: 1;
      .item-list {
        margin-top: 2*$spacer;
        li {
          padding: 2px 0;
        }
        @include media-breakpoint-down(md) {
          li {
            display: inline-block;
            width: 49%;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      &__top {
        order: 2;
      }
      &__bottom {
        order: 1;
      }
    }

    h1 {
      font-size: $fontsize-title;
    }
  }

  .area-plan {
    padding: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
}
