.button {
  @extend .btn;
  @extend .btn-secondary;
  min-width: 240px;

  &:hover {
    background: $black;
    color: $white;
    border-color: $black;
  }
}

.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
  letter-spacing: $letterspacing-wide;
  cursor: pointer;
}

.btn-primary {
  &:hover {
     @include circle-inverted-hover();
  }
}
