.button {
  @extend .btn;
  @extend .btn-secondary;
  min-width: 240px;

  &:hover {
    background: $black;
    color: $white;
    border-color: $black;
  }
}

.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
  letter-spacing: $letterspacing-wide;
  cursor: pointer;
}

.btn-primary {
  &:hover {
     @include circle-inverted-hover();
  }
}

%contact-btn {
  > div {
    @extend .btn;
    @extend .btn-primary;
    text-transform: none;
    a {
      color: $white;
    }
    &:hover {
      a {
        color: $black;
      }
    }
    &:last-child {
      @extend .hidden-sm-down;
    }
  }
  [class^=icon] {
    color: $white !important;
    background-color: $black !important;
    margin-right: -2px;
  }
}
