.button {
  @extend .btn;
  @extend .btn-secondary;
  min-width: 240px;

  &:hover {
    background: $black;
    color: $white;
    border-color: $black;
  }
}

.btn {
  text-transform: uppercase;
  cursor: pointer;

  &:not([class*=icon]){
    letter-spacing: $letterspacing-wide;
  }
}

.btn-primary {
  &:hover {
     @include circle-inverted-hover();
     border: 1px solid $gray-lighter;
  }
}

%contact-btn {
  display: inline-flex;
  > div {
    @extend .btn;
    @extend .py-3;
    text-transform: none;
    font-size: 1rem;
    line-height: 1rem;
    border: 1px solid $black;
    color: $white;
    background-color: $black;
    a {
      color: $white;
      transition: color 250ms;
    }

    &:last-child {
      @extend .hidden-sm-down;
      border-left-color: $white;
    }
  }
  [class*=icon] {
    font-size: 1.5rem;
    margin-right: -1px;
  }
  &:hover {
    > div {
      border: 1px solid $gray-lighter;
      background-color: $white;
      color: $black;
      a {
        color: $black;
      }
      &:last-child {
        border-left-color: $gray-lighter;
      }
    }
  }
}
