@import url("//hello.myfonts.net/count/32f750");

@font-face {
  font-family: 'FuturaBT-Medium';
  font-weight: bold;
  src: url('../assets/fonts/32F750_0_0.eot');
  src: url('../assets/fonts/32F750_0_0.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/32F750_0_0.woff2') format('woff2'),
  url('../assets/fonts/32F750_0_0.woff') format('woff'),url('webfonts/32F750_0_0.ttf') format('truetype'),
  url('../assets/fonts/32F750_0_0.svg#wf') format('svg');
} 
@font-face {
  font-family: 'FuturaBT-Light';
  src: url('../assets/fonts/32F750_1_0.eot');
  src: url('../assets/fonts/32F750_1_0.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/32F750_1_0.woff2') format('woff2'),
  url('../assets/fonts/32F750_1_0.woff') format('woff'),
  url('../assets/fonts/32F750_1_0.ttf') format('truetype'),
  url('../assets/fonts/32F750_1_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'FuturaBT-Book';
  font-weight: bold;
  src: url('../assets/fonts/32FC8A_0_0.eot');
  src: url('../assets/fonts/32FC8A_0_0.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/32FC8A_0_0.woff2') format('woff2'),
  url('../assets/fonts/32FC8A_0_0.woff') format('woff'),
  url('../assets/fonts/32FC8A_0_0.ttf') format('truetype'),
  url('../assets/fonts/32FC8A_0_0.svg#wf') format('svg');
}
