@keyframes rotateAround {
  30% { transform: rotate(20deg); }
  60% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

.load-more {
  @extend .my-5;
  text-align: center;
  p {
    font-family: $headings-font-family;
    letter-spacing: $letterspacing-narrow;
    text-transform: uppercase;
  }
  a {
    display: inline-block;
    border-radius: 100%;
    border: 1px solid transparent;
    @include circle-inverted-hover();
    &:hover {
      border-color: $black;
    }
    line-height: 49px;
    height: 50px;
    width: 50px;
    transition: transform 500ms;
    span {
      position: relative;
      vertical-align: middle;
    }
    &[aria-expanded="true"] {
      transform: rotate(45deg);
    }
  }
  
  &.loading a {
    animation-duration: 3s;
    animation-name: rotateAround;
    animation-iteration-count: infinite;
  }
}
