.news-teaser {
  @extend .mt-6;
  padding: 0 percentage(1/$grid-columns);

  h2 {
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-bottom: get-spacer(5);
    }
  }

  .article-teaser {
    @extend .card;
    $box-shadow-width: 40px;
    cursor: pointer;
    border: 0;
    @include circle-shadow($gray-lighter);

    &__image {
      overflow: hidden;

      a {
        display: block;
        width: 101%;
        height: auto;
      }

      img {
        @extend .img-fluid;
        display: block;
        width: 100%;
        height: auto;
        transition: transform 350ms;
        transform: scale(1) translateZ(0);
      }
    }

    &__content {
      @extend .card-block;

      h3 {
        margin: .5rem 0;
      }

      header {
        font-size: $font-size-sm;
      }
    }

    a {
      height: 100%; //IE11 Bugfix
    }

    &:hover {
      @include circle-shadow($gray-light);

      a {
        color: $black;
      }

      img {
        transform: scale(1.05) translateZ(0);
      }
    }
  }

}
