.newsletter-form {
  .modal-body {
    @include media-breakpoint-down(xs) {
      padding: get-spacer(5);
    }

    .ui-form-field {
      &__select,
      &__text {
        @extend .row;
        @extend .form-group;
        align-items: center;

        label {
          @extend .col-12;
          @extend .col-sm-4;
          @extend .col-md-3;
          margin: 0;

          @include media-breakpoint-down(xs) {
            padding: 0;
            margin-bottom: get-spacer(2);
          }
        }

        input,
        select {
          @extend .form-control;
          @extend .col-12;
          @extend .col-sm-7;
          @extend .col-md-8;
          text-transform: none;
          font-size: 16px; //iOS Safari Fix
        }
      }
    }
  }

  .modal-footer {

    &__submit {
      @extend .btn;
      @extend .btn-primary;
      @extend .mb-2;
      @extend .mr-0;
    }

    &__close {
      @extend .btn;
      @extend .btn-secondary;
      @extend .mb-2;
      @extend .ml-2;
    }
  }
}
