.newsletter-form {
  .modal-body {
    .ui-form-field {
      &__select, &__text {
        @extend .row;
        @extend .form-group;
        align-items: center;

        label {
          @extend .col-4;
          @extend .col-md-3;
          margin: 0;
        }

        input, select {
          @extend .form-control;
          @extend .col-7;
          @extend .col-md-8;
          text-transform: none;
        }
      }
    }
  }

  .modal-footer {
    &__submit {
      @extend .btn;
      @extend .btn-primary;
    }

    &__close {
      @extend .btn;
      @extend .btn-secondary;
    }
  }
}
