.news-teaser {
  @extend .mt-6;
  padding: 0 percentage(1/$grid-columns);

  h2 {
    text-align: center;
  }

  .grid {
    .article-teaser {
      $box-shadow-width: 40px;
      @extend .card;
      cursor: pointer;
      border: none;
      box-shadow: 0 0 $box-shadow-width $gray-lighter;

      &__image {
        overflow: hidden;

        img {
          @extend .img-fluid;
          width: 100%;
          height: auto;
          transition: transform 500ms;
        }
      }

      &__content {
        @extend .card-block;

        h3 {
          margin: 0.5rem 0;
        }

        header {
          font-size: $font-size-sm;
        }
      }

      a {
        height: 100%; //IE11 Bugfix
        transition: color 500ms;
      }

      &:hover {
        box-shadow: 0 0 $box-shadow-width $gray-light;

        a {
          color: $gray-light;
        }

        img {
          transform: scale(1.05);
        }
      }
    }
  }
}
