@keyframes arrow-top-down {
  0% { transform: translateY(0); }
  50% { transform: translateY(0.5rem); }
  100% { transform: translateY(0); }
}

.scroll-animator {
  color: $white;
  font-size: 2rem;
  .arrow {
    position: absolute;
  }
  &:hover {
    color: $white;
    .arrow {
      animation-duration: 2.5s;
      animation-name: arrow-top-down;
      animation-iteration-count: infinite;
    } 
  }
}