@keyframes arrow-top-down {
  0% { transform: translateY(0); }
  50% { transform: translateY(0.5rem); }
  100% { transform: translateY(0); }
}

.scroll-animator {
  color: $white;
  p {
    max-width: 200px;
    margin: 0 auto 1rem;
  }
  .path2,
  .arrow {
    font-size: 2.5rem;
  }
  .arrow {
    position: absolute;
  }
  &:hover {
    color: $white;
    .arrow {
      animation-duration: 2.5s;
      animation-name: arrow-top-down;
      animation-iteration-count: infinite;
    } 
  }
}