.site-header {
  @extend .row;
  @extend .align-items-center;
  background-color: $black;
  height: $site-nav-height;
  a {
    display: block;
    color: $white;
    padding: 0 1rem;
    line-height: $site-nav-height;
  }

  .text-logo {
    @extend .col-2;
    @extend .ml-3;
    @extend .ml-md-0;
    text-align: center;
    img {
      width: 95px;
      height: auto;
    }
  }

  // Main menu
  .menu--main-menu {
    @extend .col-md-7;
    @extend .col-xl-6;
    @extend .offset-xl-1;
    @extend .hidden-sm-down;
    position: static;
    padding-right: 0;

    ul {
      @extend .list-unstyled;
      margin: 0;
      display: flex;
      text-transform: uppercase;
      li {
        flex: 1;
        letter-spacing: $letterspacing-wide;
      }
    }

    a {
      text-align: center;
      &:hover {
        background: $white;
        color: $black;
      }
    }
    .menu-item--active-trail {
      > a {
        background: $white;
        color: $black;
      }
    }
  }

  .menu--header-meta {
    @extend .col;
    @extend .offset-xl-1;
    @extend .hidden-sm-down;
    padding-left: 0;
    ul {
      @extend .list-inline;
      margin: 0;
      text-align: right;
    }
    li {
      @extend .list-inline-item;
    }

    a {
      &:hover {
        color: $gray-lighter;
      }
    }
  }

  .burger {
    @extend .hidden-md-up;
    margin-left: auto;
    padding-right: map-get($grid-gutter-widths, 'sm');
    cursor: pointer;

    &__patty {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $white;
      margin-bottom: 3px;
      transition: opacity 250ms, transform 250ms;
    }

    &:not(.collapsed) {
      .burger__patty:nth-child(1){
        transform: translateY(6px) rotate(45deg);
      }
      .burger__patty:nth-child(2){
        opacity: 0;
      }
      .burger__patty:nth-child(3){
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

/**
* Sub-menu!!!
**/
#block-mainmenu {
  overflow-x: auto;

  .menu {
    @extend .list-unstyled;
    margin: 0;
    display: flex;
    min-width: map-get($grid-breakpoints, 'md');

    li {
      flex-grow: 1;

      a {
        @extend .p-3;
        display: block;
        text-align: center;
        color: $gray-lighter;
        border-bottom: 5px solid $gray-lighter;

        &.is-active {
          color: $black;
          border-bottom: 5px solid $black;

          @each $key, $color in $color-list {
            .#{$key} & {
              border-bottom-color: $color;
            }
          }
        }
      }
    }
  }
}

/**
* Mobile Flyout
**/
.flyout {
  &__navi {
    background: $black;
    color: $white;
    a {
      display: block;
      color: $white;
    }
    ul {
      @extend .list-unstyled;
      @extend .px-4;
      margin-bottom: 0;

      li{
        @extend .py-3;
        border-bottom: 1px solid $gray-dark;
      }
    }
  }
  .menu--header-meta {
    ul {
      li:last-child{
        border-bottom: 0;
      }
    }
  }
}
