.site-footer {
  @extend .row;
  @extend .align-items-center;
  height: $site-nav-height;
  background-color: $black;
  padding: 0 percentage(1/$grid-columns);
  a {
    color: $white;
    &:hover {
      color: $gray-lighter;
    }
  }
  ul {
    margin: 0;
  }

  .menu--footer {
    @extend .col;
    ul {
      @extend .list-inline;
    }

    li {
      @extend .list-inline-item;
    }
  }

  .language-switch {
    @extend .col-5;
    @extend .col-md-3;
    margin-left: auto;
    text-align: right;
    letter-spacing: $letterspacing-wide;
    &__selectbox {
      display: inline-block;
    }
    &__selectlabel {
      @extend %selectlabel;
      color: $white;
    }
    &__selectbodywrapper {
      @extend %selectbodywrapper;
    }
    &__selectbody {
      @extend %selectbody;
      margin: 0 -15px;
      bottom: 0;
    }

    .links {
      @extend %selectbox-list;
    }
  }
}
