.site-header {
  @extend .row;
  @extend .align-items-center;
  background-color: $black;
  height: $site-nav-height;
  a {
    display: block;
    color: $white;
    padding: 0 1rem;
    line-height: $site-nav-height;
  }

  .text-logo {
    @extend .col-2;
    @extend .ml-3;
    @extend .ml-md-0;
    text-align: center;
    img {
      width: 95px;
      height: auto;
    }
  }

  // Main menu
  .menu--main-menu {
    @extend .col-md-7;
    @extend .col-xl-6;
    @extend .offset-xl-1;
    @extend .hidden-sm-down;
    position: static;
    padding-right: 0;

    ul {
      @extend .list-unstyled;
      margin: 0;
      display: flex;
      text-transform: uppercase;
      li {
        flex: 1;
      }
    }

    a {
      text-align: center;
      &:hover {
        background: $white;
        color: $black;
      }
    }
    .menu-item--active-trail {
      > a {
        background: $white;
        color: $black;
      }
    }
  }
  
  .menu--header-meta {
    @extend .col;
    @extend .offset-xl-1;
    @extend .hidden-sm-down;
    padding-left: 0;
    ul {
      @extend .list-inline;
      margin: 0;
      text-align: right;
    }
    li {
      @extend .list-inline-item;
    }

    a {
      &:hover {
        color: $gray-lighter;
      }
    }
  }
  
  .burger {
    @extend .hidden-md-up;
    margin-left: auto;
    padding-right: map-get($grid-gutter-widths, 'sm');
    cursor: pointer;
    &__patty {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $white;
      margin-bottom: 3px;
    }
  }
}

/**
* Sub-menu!!!
**/
#block-mainmenu {
  .menu {
    li {
      flex: none;
    }
    a {
      color: $black;
      &.is-active {
        border-bottom: 3px solid $black;

        @each $key, $color in $color-list {
          .#{$key} & {
            border-bottom-color: $color;
          }
        }
      }
    }
  }
}

/**
* Mobile Flyout
**/
.flyout {
  &__navi {
    background: $black;
    color: $white;
    a {
      color: $white;
    }
    ul {
      @extend .list-unstyled;
    }
  }
  .menu--header-meta {
    ul {
      margin-bottom: 0;
    }
  }
}