.site-header {
  @extend .row;
  @extend .align-items-center;
  background-color: $black;
  height: $site-nav-height;
  a {
    display: block;
    color: $white;
    padding: 0 1rem;
    line-height: $site-nav-height;
  }
  
  .text-logo {
    @extend .col-2;
    text-align: center;
    img {
      width: 95px;
      height: auto;
    }
  }
  
  // Main menu
  .menu--main-menu {
    @extend .col-6;
    @extend .offset-1;
    position: static;
    ul {
      @extend .list-unstyled;
      margin: 0;
      display: flex;
      text-transform: uppercase;
      li {
        flex: 1;
      }
    }
  
    a {
      text-align: center;
      &:hover {
        background: $white;
        color: $black; 
      }
    }
    .menu-item--active-trail {
      > a {
        background: $white;
        color: $black;
      }
    }
  }
}

.menu--header-meta {
  @extend .col;
  @extend .offset-1;
  ul {
    @extend .list-inline;
    margin: 0;
  }
  li {
    @extend .list-inline-item;
  }
  
  a {
    &:hover {
      color: $gray-lighter;
    }
  } 
}

/**
* Sub-menu!!!
**/
#block-mainmenu {
  .menu {
    li {
      flex: none;
    }
    a {
      color: $black;
      &.is-active {
        border-bottom: 3px solid $black;
        
        $list: (
          yellow: $circle-yellow,
          orange: $circle-orange,
          red: $circle-red,
          brown: $circle-brown,
          green: $circle-green,
          sea: $circle-sea,
          blue: $circle-blue
        );
        @each $key, $color in $list {
          .#{$key} & {
            border-bottom-color: $color;
          }
        }
      }
    }
  }
}