.pre-footer {
  @extend .row;
  background-color: lighten($circle-brown, 40);
  .newsletter-teaser {
    @extend .col-md-3;
  }
  .social-nav {
    @extend .col-md;
    text-align: right;
    ul {
      @extend .list-inline;
    }
    li {
      @extend .list-inline-item;
    }
    
    $list: instagram facebook twitter vimeo youtube linkedin;
    @each $social in $list {
      li.#{$social} {
        a {
          @extend %icon;
          @extend .icon-#{$social};  
        }
      }
    }
  }
}