.pre-footer {
  @extend .mt-6;
  @extend .row;
  @extend .align-items-end;
  
  background-color: $circle-egg;
  padding: 2*$spacer percentage(1/$grid-columns);
  .newsletter-teaser {
    @extend .col-md-4;
  }
  .social-nav {
    @extend .col-md;
    text-align: right;
    ul {
      @extend .list-inline;
    }
    li {
      @extend .list-inline-item;
    }
    
    $list: instagram facebook twitter vimeo youtube linkedin;
    @each $social in $list {
      li.#{$social} {
        a {
          @extend %icon;
          @extend .icon-#{$social};  
        }
      }
    }
  }
}