html {
  @include media-breakpoint-down(md) {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  hyphens: auto;
}

h2 {
  font-size: $fontsize-title;
  letter-spacing: $letterspacing-wide;

  @include media-breakpoint-down(md) {
    font-size: $fontsize-title-mobile;
  }
}

h3 {
  font-size: $fontsize-subtitle;
  letter-spacing: $letterspacing-narrow;

  @include media-breakpoint-down(md) {
    font-size: $fontsize-subtitle-mobile;
  }
}

h5, h6 {
  letter-spacing: $letterspacing-narrow;
}

strong, b {
  font-family: $headings-font-family;
  font-weight: normal;
}
