<form name="newsletter-register-form" action="https://www.xcampaign.ch/dispatcher/service" method="post" class="newsletter-form">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Newsletter Anmeldung</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    	<input type="hidden" name="ac" value="reg">
    	<input type="hidden" name="clientCode" value="111111084953510161">
    	<input type="hidden" name="doubleOptin" value="1">

    	<!--
    	Wenn das Bestätigungs-E-Mail nach einer Double Opt-in Registrierung unterdrückt werden soll, muss der folgende Parameter gesendet werden
    	<input type="hidden" name="doubleOptin" value="2">
    	-->

    	<!--
    	Falls ein bereits vorhandener Profil ohne Statusänderungen geändert werden soll, muss der folgende Parameter gesendet werden
    	<input type="hidden" name="doubleOptin" value="-1">
    	-->

    	<input type="hidden" name="trackId" value="null">
    	<!--
    	Die Definition einer Folgeseite kann durch einen speziellen Parameter geändert werden
    	<input type="hidden" name="gotoUrl" value="http://www.thecircle.ch/newsletter-confirmationmail.html">
    	<input type="hidden" name="gotoErrorUrl" value="null">

    	Falls der Empfänger bereits Double Opt-in registriert ist, die Applikation überspringt den ganzen Double Opt-in Prozess und präsentiert als Folgeseite die Bestätigungsseite. Diese Seite kann über diesen Parameter umspezifiziert werden.
    	<input type="hidden" name="gotoConfirmationUrl" value="">

    	-->
    	<input type="hidden" name="xp_sendBackParams" value="0">
    	<!-- Werte von xp_sendBackParams
    	value = 0   does not return registration parameters to client's Url
    	value = 1   returns registration parameters to client's Url if success
    	value = 2   returns registration parameters to client's Url if error
    	value = 3   always returns registration parameters to client's Url
    	-->
    	<!--
    	Mit diesem Parameter kann das Redirekt zur Folgeseite unterdrückt werden
    	HTTP Response Code 200, wenn die Registrierung erfolgreich durchgeführt wurde
    	HTTP Response Code 400, wenn das Profil bereits existiert und kein Update ist erlaubt
    	HTTP Response Code 500, wenn die Registrierung aufgrund eines Fehlers nicht beendet wurde
    	<input type="hidden" name="xp_redirectLP" value="0">
    	-->

    	<div class="ui-form-field g-6 push-2 g-tablet-6 push-tablet-2 g-mobile-14 push-mobile-1">
    		<div class="ui-textfield">
    			<label for="Firma">Firma</label>
    			<input name="Firma" placeholder="" id="Firma" type="text">
    		</div>
    	</div>


    	<div class="ui-form-field g-6 g-tablet-6 g-mobile-14 push-mobile-1">
    		<div class="ui-textfield">
    			<label for="Funktion">Funktion</label>
    			<input name="Funktion" placeholder="" id="Funktion" type="text">
    		</div>
    	</div>

    	<div class="ui-form-field g-6 push-2 g-tablet-6 push-tablet-2 g-mobile-14 push-mobile-1">
    		<label for="Anrede">Anrede *</label>
        <select name="Anrede" class="ui-select" required="" tabindex="0" style="">
    			<option value="#DEL#">nicht ausgewählt</option>
    			<option value="Frau">Frau</option>
    			<option value="Herr">Herr</option>
    		</select>
    	</div>

    	<div class="ui-form-field g-6 g-tablet-6 g-mobile-14 push-mobile-1">
    		<div class="ui-textfield">
    			<label for="Vorname">Vorname*</label>
    			<input name="firstname" placeholder="" id="Vorname" type="text" required="">
    		</div>
    	</div>

    	<div class="ui-form-field g-6 push-2 g-tablet-6 push-tablet-2 g-mobile-14 push-mobile-1">
    		<div class="ui-textfield">
    			<label for="Name">Nachname*</label>
    			<input name="Name" placeholder="" id="lastname" type="text" required="">
    		</div>
    	</div>

    	<div class="ui-form-field g-6 g-tablet-6 g-mobile-14 push-mobile-1">
    		<div class="ui-textfield">
    			<label for="Adresse">Adresse</label>
    			<input name="Adresse" placeholder="" id="Adresse" type="text">
    		</div>
    	</div>

    	<div class="ui-form-field g-6 push-2 g-tablet-6 push-tablet-2 g-mobile-14 push-mobile-1">
    		<div class="ui-textfield">
    			<label for="PLZ">PLZ</label>
    			<input name="PLZ" placeholder="" id="PLZ" type="text">
    		</div>
    	</div>

    	<div class="ui-form-field g-6 g-tablet-6 g-mobile-14 push-mobile-1">
    		<div class="ui-textfield">
    			<label for="Ort">Ort</label>
    			<input name="Ort" placeholder="" id="Ort" type="text">
    		</div>
    	</div>

    	<div class="ui-form-field g-6 push-2 g-tablet-6 push-tablet-2 g-mobile-14 push-mobile-1">
    		<label for="Land">Land</label>
    		<select id="Land" class="ui-select" tabindex="0" style="">
    			<option value="#DEL#">nicht ausgewählt</option>
          {% for iso,country in countries %}
            <option {{ iso == 'CH' ? 'selected' : ''}} value="{{iso}}">{{country}}</option>
          {% endfor %}
    		</select>
    	</div>

    	<div class="ui-form-field g-6 g-tablet-6 g-mobile-14 push-mobile-1">
    		<div class="ui-textfield">
    			<label for="Email">E-mail*</label>
    			<input name="Email" value="{{email}}" placeholder="" id="Email" type="email" required>
    		</div>
    	</div>

    	<div class="ui-form-field g-6 push-2 g-tablet-6 push-tablet-2 g-mobile-14 push-mobile-1">
    		<label for="Sprache">Sprache des Newsletters</label>
    		<select id="Sprache" class="ui-select" tabindex="0" style="">
    			<option value="DE">deutsch</option>
    			<option value="EN">englisch</option>
    		</select>
    	</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Registrieren</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
</div>
</form>