<section class="stage">
{% for item in items %}
    {{ item.content }}
{% endfor %}

<div class="stage__scroll">
  <a href data-scroll-target=".hero" class="scroll-animator">
    <span class="icon-arrow-down">
        <span class="path1 arrow"></span><span class="path2"></span>
    </span>
  </a>
</div>
</section>
