<section class="stage">
{% for item in items %}
    {{ item.content }}
{% endfor %}
<div class="stage__counter">
  <div class="counter">
  {% for char in time_left_chars %}
    <span class="counter__char">{{char}}</span>
  {% endfor %}
    <div class="counter__message">{{ 'Days till take off' | trans}}<span class="icon-arrow-right"></span></div>
  </div>
</div>

<div class="stage__scroll">
  <a href data-scroll-target=".hero" class="scroll-animator">
    <span class="icon-arrow-down">
        <span class="path1 arrow"></span><span class="path2"></span>
    </span>
  </a>
</div>
</section>