<div class="fix-wrapper">
  <header class="site-header" role="banner">
    {{ page.header }}
  </header>
</div>

<main role="main">
    {{ page.content }}
</main>

{% if show_footer %}
<section class="pre-footer">
    {{ page.prefooter }}
</section>

{% if page.footer %}
  <footer class="site-footer" role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
{% endif %}

{% include '@circle/partials/modal.html.twig' %}
