<div class="layout-container">
  <header class="site-header" role="banner">
    {{ page.header }}
  </header>

  <main role="main">
    <div class="layout-content">
      {{ page.content }}
    </div>
  </main>

    <section class="pre-footer">
        {{ page.prefooter }}
    </section>
  
  {% if page.footer %}
    <footer class="site-footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>
