<div class="newsletter-teaser">
    <h5>{{'Stay tuned'|trans}}<h5>
    <form data-newsletter-teaser>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="{{'Your email' | trans}}">
        <span class="input-group-btn">
          <button class="btn btn-secondary" data-action type="submit"><span class="icon-arrow-right"></span><span class="sr-only">{{'Register'|trans}}</span></button>
        </span>
      </div>
    </form>
</div>

<div class="social-nav">
{{ content }}
</div>