<div class="newsletter-teaser">
    {{'Stay tuned'|trans}}
    <div class="input-group">
      <input type="text" class="form-control" placeholder="{{'Your email' | trans}}">
      <span class="input-group-btn">
        <button class="btn btn-secondary" data-action type="button">-></button>
      </span>
    </div>
</div>

<div class="social-nav">
{{ content }}
</div>